version: '3.8'

services:
  db:
    image: postgres:15
    container_name: new_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
  catalog:
    env_file:
      - ./catalogService/.env
    build:
      context: catalogService
    container_name: catalog_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8081:8081"
  order:
    env_file:
      - ./orderService/.env
    build:
      context: orderService
    container_name: order_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8082:8082"
  reviews:
      env_file:
        - ./reviewsService/.env
      build:
        context: reviewsService
      container_name: reviews_service
      depends_on:
        - db
      environment:
        - GOTOOLCHAIN=auto
        - DATABASE_URL=${DATABASE_URL}
      ports:
        - "8083:8083"
  auth:
    env_file:
      - ./authService/.env
    build:
      context: authService
    container_name: auth_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8084:8084"
  background:
    env_file:
      - ./backgroundService/.env
    build:
      context: backgroundService
    container_name: background_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8085:8085"
volumes:
  db_data:
