version: '3.8'

services:
  db:
    image: postgres:15
    container_name: new_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  catalog:
    build:
      context: catalogService
    container_name: catalog_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=postgres://myuser:mypassword@db:5432/mydb
    ports:
      - "8081:8081"

  order:
    build:
      context: orderService
    container_name: order_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=postgres://myuser:mypassword@db:5432/mydb
    ports:
      - "8082:8082"
      -

  reviews:
      build:
        context: reviewsService
      container_name: reviews_service
      depends_on:
        - db
      environment:
        - GOTOOLCHAIN=auto
        - DATABASE_URL=postgres://myuser:mypassword@db:5432/mydb
      ports:
        - "8083:8083"

  auth:
    build:
      context: authService
    container_name: auth_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=postgres://myuser:mypassword@db:5432/mydb
    ports:
      - "8084:8084"

  background:
    build:
      context: backgroundService
    container_name: background_service
    depends_on:
      - db
    environment:
      - GOTOOLCHAIN=auto
      - DATABASE_URL=postgres://myuser:mypassword@db:5432/mydb
    ports:
      - "8086:8086"

volumes:
  db_data:
